.dunder-line {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  #dbrand{
    color: white;
    background: linear-gradient(to right, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
    animation: rainbow 2s ease-in-out infinite;
    transition: color .2s ease-in-out;
    background-clip: text;
    -webkit-background-clip:text;
  }
  #dbrand:hover{
    color:rgba(0,0,0,0);
  }
  @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }
  .dunder-line:hover{
    color: #F3CCFF;
  }
  
  .dunder-line:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fb9de2;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .dunder-line:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }